@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

html {
	font-family: 'Blinker', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}